<%inherit file="base.html"/>

<%def name="head()">
<script>
    function deleteMacAuth(auth_id)
    {
        if(confirm("确认删除吗？"))
        {
            window.location.href = "/mac/auth/delete?auth_id="+auth_id;
        }
    }

function deleteMacAuths()
    {
        var auth_ids = "";
        var flag = false;
        var checkboxmac = document.getElementsByName("cbox")
        if(confirm("确认删除吗？"))
        {
             for(var i = 0; i < checkboxmac.length; i ++)
             {
                 if(checkboxmac[i].checked)
                 {
                     auth_ids = auth_ids + checkboxmac[i].value + ",";
                      flag=true;

                 }

             }
            if(auth_ids==="" || auth_ids.length<=0)
             {
                 alert("请至少勾选一项");
                 return false;
             }
        }

        if(flag)
        {
            window.location.href = "/mac/auth/deletes?auth_ids=" + auth_ids;
        }
    }
function selectAll(checkbox)
    {
        $('input[type=checkbox]').prop('checked', $(checkbox).prop('checked'));
    }

</script>
</%def>

<%def name="body()">
<section class="content">
    <div class="box">
    <div class="panel-heading"><i class="fa fa-users"></i> Mac地址认证信息列表</div>
    <div class="panel-body">
        <form id="query_form" class="form-horizontal form-well" role="form" action="/mac/auth" method="post">
            <div class="form-group">
                <label for="account_number" class="col-md-2 control-label">用户账号</label>
                <div class="col-md-3">
                    <input type="text" id="account_number" name="account_number" class="form-control" placeholder="模糊查询" value=${account_number or ""}>
                </div>

                <label for="mac_addr" class="col-md-2 control-label">MAC地址</label>
                <div class="col-md-3">
                    <input type="text" id="mac_addr" name="mac_addr" class="form-control" value=${mac_addr or ""}>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" onclick="deleteMacAuths()">批量删除</button>
                </div>
            </div>
        </form>

        <div class="container">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th><label><input type="checkbox" name="mac_delete" id="macs" onclick="selectAll(this);" />      用户账号</label></th>
                    <th>Mac地址</th>
                    <th>失效时间</th>
                </tr>
                </thead>
                <tbody>
                    % for mac_auth in page_data.result:
                        <tr>
                            <td><label><input name="cbox" type="checkbox" value=${mac_auth.id} >       ${mac_auth.account_number}</label></td>
                            <td>${mac_auth.mac_addr}</td>
                            <td>${mac_auth.end_date}</td>
                            <td>
                                % if permit.match('/mac/auth/update'):
                                <a class="opt-btn btn-default" href="/mac/auth/update?auth_id=${mac_auth.id}">修改</a>
                                % endif
                                % if permit.match('/mac/auth/delete'):
                                <a class="opt-btn btn-default" href="javascript:deleteMacAuth('${mac_auth.id}')">删除</a>
                                % endif
                            </td>
                        </tr>
                    % endfor
                </tbody>
            </table>
             ${page_data.render()}
        </div>
    </div>
</div>
    </section>
</%def>